.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
/* banner-styles */
.banner{
display: flex;
justify-content: space-between;
background-color: #C6E4D6;
height: 560px;
padding: 80px 100px;
border-radius: 24px; 
/* margin: 0 auto; */
margin-top: 20px;
margin-bottom: 80px;
}
   .banner-content{
    /* margin: 0; */
      height: 200px;
    width: 622px;
    gap: 64;
}    
.banner-pic{
    width: 474px;
    padding: 80px 60px;
    height: 400px;
}   
.banner-heading{
    font-size: 24px;
    font-weight: 500;
    color: #3a3535; 
    margin-top:117px ;
}    
.banner-text{
    font-weight: 700;
    font-size: 56px;
}


.btn{
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    color: #FFFFFF;
    padding: 17px 34px;
    border:none ;
    border-radius: 8px;
    /* margin-bottom: 117px; */

}
/* vision-style */
.vision{
      height: 765px; 
   gap: 32px;
   padding: 0; 
   background-color: #f9f8f8;
   border-radius:10px ; 
   padding: 20px 0 5px 0;
  }
.vision-container{
    display: inline-flex;
       gap: 24px;
    justify-content: center;
    align-items: center;
   margin-top: 32px;
   margin-bottom: 32px;
   height: 200px;
    
    
    
}
.box-vision{
  
 border-radius: 16px;
 text-align: center;
 height:230px; 
 margin-bottom: 30px;
 
}
     
     .vision-title{
    color: #0e0e0e;
    font-size: 20px;
    font-weight: 500;
     }
.vision-container .style-1{
    background-color: #a3bce6;
    }
    .vision-container .style-2{
        background-color: #bff1da;
    }
    .vision-container .style-3{
background-color: #f1e7ce;
    }
    .vision-speech{
        background-color: #f3f1f1; 
        margin-top:30px ; 
        border: 1px solid rgb(209, 205, 205); 
       
    }
    .btn-style{
        padding: 20px 11px;
        border-radius: 8px;
        gap: 24px; 
        height: 70pxpx;
        width: 120px;
        border: none; 
        margin-top: 25px;
        margin-bottom: 10px;
        align-items: center;
    }
    .btn-1{
      background-color: #5490F5; 
    }
    .btn-2{
        background-color: #09A15C;
    }
    .btn-3{
        background-color:#FFC239 ;
    }
    .vision-speech{
        background-image:url("../assets/quote-bg.png") ;
        background-repeat: no-repeat;
        border-radius:16px;
        background-color: #f9f8f8;
        padding: 48px 24px;

    }
    .font-color{
      color:#443f3f ; 
    }
    /* news-style  */
.news-1,  .news-2{
       padding:0;
    margin-top: 100px;
  }
            .news-card-1, .news-card-2{
        display: flex; 
        justify-content:space-between;
        align-items: center;
        padding: 48px 48px; 
        background-color: #f9f8f8; 
        border-radius: 16px;
       
    }
    
    .news-card-p{
        width: 408px;
        height: 306px;
        border-radius: 24px;
    }
    .news-card-c{
        width: 744px;
    }
     .donate{
        /* width: 1280px; */
        height: 464px;
        gap: 32px;
        margin: 30px 40px 30px 0px;
        padding: 100px 0;
     }
     .donate-title{
        font-weight:700 ;
        font-size: 40px;
     }
     .donate-content{
      text-align: center;
     }
     .donate-subt{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
     }
     .donate-btn{
        display:flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        border: none;
       
                     }
.donate-btn .box{
     width: 250px; 
     height:150px;
     justify-content: start; 
     gap: 20px; 
     padding:80px ;
     margin-bottom:30px ;
     border-radius: 16px;
     border: none;

}
       
         .input-btn{
        display: inline-block;
        padding: 40px 20px;
        height: 64px;
        background-color: #f9f8f8;
               width: 100%; 
               border: none;
       

     }

     .spacial-btn{
        background-color: #C6E4D6;
     }
     /* .subscribe-style */
    .subscribe{
        background-color: #d7e3dd;
       display: flex; 
       justify-content: center; 
       align-items: center;
       flex-direction: column;
       height: 400px;
       gap: 20px;
       padding:50px 40px ;
       margin: 80px 0;
       border-radius: 24px;
    }           
     .subscribe .click {
        display:inline-flex; 
        text-align: center;
        align-items: center;
     }    
     .subscribe .click input{
        border: none; 
        padding: 20px 0;
        border-radius:10px ;
        width: 100%;

    }
    .subscribe .click button{
        padding: 17px 0;
    }
         button:hover {
        background-color: #5490F5;
    }