.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
/* banner-styles */
.banner{
   
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 100px 100px; 
    margin:20px 160px 80px 160px;
     border-radius: 24px;
}
.banner-contant{
    width: 622px;
        gap:64px ;
}
.banner-pic{
    width:474px;                                                

}
.banner-heading{
    font-size: 24px;
    font-weight: 500;
    color: #3a3535;
    margin-top: 117px;
}
.banner-text{
    font-weight: 700;
    font-size:56px ; 
    margin-bottom: 24px;
}
.btn{
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    color: #FFFFFF;
    padding: 17px 34px;
    border:none ;
    border-radius: 8px;
    margin-bottom: 117px;

}
/* vision-style */
.vision{
    padding: 32px;
    margin: 0 160px 80px 160px;
   width: 1280px;
   gap: 32px;
  
}
.vision-container{
    text-align: center;
    display:flex;
    justify-content: center;
    text-align: center;
}
.box{
    display: inline-block;
    width: 100px;
 border-radius: 16px;
}
     
     .vision-title{
    color: #0e0e0e;
    font-size: 20px;
    font-weight: 500;
}
.vision-container .style-1{
    background-color: #a3bce6;
    }
    .vision-container .style-2{
        background-color: #bff1da;
    }
    .vision-container .style-3{
background-color: #f1e7ce;
    }
    .btn-style{
        padding: 20px 11px;
        border-radius: 8px;
        gap: 24px; 
        height: 56px;
        width: 151px;
        border: none;
    }
    .btn-1{
      background-color: #5490F5; 
    }
    .btn-2{
        background-color: #09A15C;
    }
    .btn-3{
        background-color:#FFC239 ;
    }
    .vision-speech{
        background-image:url("../assets/quote-bg.png") ;
        background-repeat: no-repeat;
        border-radius:16px;
        background-color: #f9f8f8;
        padding: 48px 42px;

    }
    .font-color{
      color:#443f3f ; 
    }
    /* news-style  */
.news-1,  .news-2{
    width:1280px;
    padding:0;
    margin-top: 100px;
  }
            .news-card-1, .news-card-2{
        display: flex; 
        justify-content:space-between;
        align-items: center;
        padding: 48px 48px; 
        background-color: #f9f8f8; 
        border-radius: 16px;
       
    }
    
    .news-card-p{
        width: 408px;
        height: 306px;
        border-radius: 24px;
    }
    .news-card-c{
        width: 744px;
    }
     .donate{
        /* width: 1280px; */
        /* height: 464px; */
        gap: 32px;
     }
     .donate-title{
        font-weight:700 ;
        font-size: 40px;
     }
     .donate-content{
      text-align: center;
     }
     .donate-subt{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
     }
     .donate-btn{
        display:inline-flexbox;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 64px;
        gap: 24px;
        border: none;

       

     }
     .input-btn{
        padding: 40px 20px;
        height: 64px;
        background-color: #f9f8f8;
        display: block;
        width: 100px; 
       

     }

     .spacial-btn{
        background-color: #C6E4D6;
     }
     /* .subscribe-style */
     .subscribe{
        background-color: #C6E4D6;
        height:400px ;
       display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         gap:20px ;
          padding: 100px 40px;
          margin: 80px 0;
          border-radius: 24px;
     }
     .subscribe .click{
        display: flex; 
       align-items: center; 
        gap:0 ;
     }
     .subscribe .click input{
border: none;
padding: 20px 0; 
border-radius: 10px;
     }
     button:hover {
        background-color: #5490F5;
    }